:root{
	--theme: #fbc224;
	--lightGray: #d8dfdf;
	--primary: #325BF3;
	--lightblue: #f2f5ff;
}

.popblack{ font-weight: 900;}
.popexbold{ font-weight: 800;}
.popbold{ font-weight: 700;}
.popsemibold{ font-weight: 600;}
.popreg{ font-weight: 400;}
.poplight{ font-weight: 300;}
.popthin{ font-weight: 200;}

body, html{
	font-family: 'Poppins', sans-serif; 
	font-weight: 400; 
	letter-spacing: initial; 
	padding: 0px;
	margin: 0px;
	line-height: 1.4;
	font-size:12px;
	color:#333; 
	scroll-behavior: smooth; 
}
a, a:visited, a:focus{ 
	display: inline-block;
	outline:none;
	transition: all linear 0.5s; 
	font-weight: 400;
}
a:hover{
	color:#222222;
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
	line-height:1.4;
	font-family: 'Poppins';
	margin:0 0 1rem
} 

h1{font-size: 32px;font-weight: 800;}
h2{font-size: 29px;font-weight: 700;}
h3{font-size: 26px;font-weight: 600;}
h4{font-size: 23px;font-weight: 600;}
h5{font-size: 20px;font-weight: 500;}
h6{font-size: 16px;font-weight: 400;}

img{ 
	max-width: 100%; 
	vertical-align: middle;
}
ul{ 
	list-style-type: none; 
	margin: 0;
	padding: 0;
}

label{
	margin-bottom: 0;
}
.gap-1{
	gap: 1rem;
}
.gap-05{
	gap: 0.5rem;
}
.uiscroll::-webkit-scrollbar {
	width: 10px;
}
.uiscroll::-webkit-scrollbar-track {
	background: #a4a4a41c; 
}
.uiscroll::-webkit-scrollbar-thumb {
	background: #b3b3b3; 
	border-radius:10px;
}
.uiscroll::-webkit-scrollbar-thumb:hover {
	background: #888; 
} 

/* custom-dropdown */
.custom-dropdown .dropdown-menu{
	padding: 5px;
    border-color: #e5e5f2;
    box-shadow: 0px 5px 15px -5px #00000061;
}
.custom-dropdown .dropdown-menu ul li > a{
	display: inline-block;
	border-radius: 5px;
	padding: 5px 8px;
}
.custom-dropdown button:focus{
	box-shadow: none;
}

.custom-dropdown .dropdown-menu ul li > a:hover{
	color: var(--primary);
	background-color: var(--lightblue);
}

/* main */

.material-symbols-rounded{
	line-height: 1.4;
	font-size: 22px;
	font-weight: 600;
	color: #747c8f;
	vertical-align: middle;
}


.icon-btn{
	width: 35px;
	height: 35px;
	line-height: 35px;
	padding: 0;
	border-radius: 50%;
	transition: all linear 0.3s;
	text-align: center;
	cursor: pointer;
}

.icon-btn:hover, .icon-btn.active{
	background-color: #eee;
}


.userAddbtn{
	border: 2px solid #eee;
	line-height: 33px;
	border-radius: 5px;
}


.uinav-pills .nav-pills{
	background-color: #F8F9FD;
	padding: 4px;
	flex-wrap: nowrap;
    text-align: center;
}
.uinav-pills .nav-pills > li{
	flex-grow: 1;
}
.uinav-pills .nav-pills > li > a{
	display: block;
}

.uinav-pills .nav-pills .nav-link{
	padding: 0.5rem 1rem ;
	color: #a7a3ac;
}
.uinav-pills .nav-pills .nav-link.active{
	background-color: #fff;
	color: #333;
	box-shadow: 0px 3px 8px 0px #0000001f;
}
.uinav-pills .nav-pills .nav-link.active > span{
	color: #333;
}
.badge{
	font-weight: 400;
	font-size: 14px;
}

.badge-success{
	background-color: #ECFAFD;
	color: var(--success);
}
.dropdown-toggle::after{
	display: none;
} 

.user-img{
	width: 40px;
	height: 40px;
	line-height: 37px;
	border-radius: 50%;
	text-align: center;
	background-color: #DDE5FC;
}
.user-img > img{
	border-radius: 50%;
}
.timebefore{
	position: relative;
}
.timebefore::before{
	position: absolute;
	width: 4px;
	height: 4px;
	top: 50%;
	margin-top: -2px;
	left: -10px;
	background-color: var(--primary);
	border-radius: 5px;
	content: '';
	clear: both;
	display: block;
}


.lineclamp{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.lineclamp1{
	-webkit-line-clamp: 1;
}
.lineclamp2{
	-webkit-line-clamp: 2;
}
.lineclamp3{
	-webkit-line-clamp: 3;
}

.userchatList{
	height: calc(100vh - 170px);
	overflow-x: hidden;
	overflow-y: auto;
}

.userchatList ul li p{
	color: #888;
	line-height: 1.6;
}
.userchatList ul li{
	padding: 1rem 8px;
	border-bottom: 1px solid #eee;
	transition: all linear 0.2s;
	cursor: pointer;
}
.userchatList ul li:hover{
	background-color: rgb(239, 241, 247);
}

.userchatList ul li .tick, .msg-time {
	color: #b9afc9;
}

.userDetails .user-img.bigEmoji{
	width: 45px;
	height: 45px;
	line-height: 43px;
}

.userDetails .user-img.smallEmoji{
	width: 30px;
	height: 30px;
	line-height: 28px;
}

.username{
	font-weight: 500;

}
.chat-container{
	background: linear-gradient(2deg, #ffffff80, #ffffff7a), url(../images/chat-bg.jpg);
	height: calc(100vh - 185px);
	border-radius: 10px;
	overflow-x: hidden;
	overflow-y: auto;
}

.badge-cyan{
	background-color: #EFFAFE;
	padding: 4px 0.7rem;
	display: inline-block;
	color: #2995a1;
}
.chatarea{
	border: 0px;
	width: 100%;
	resize: none;
}
.typeChat{
	margin: 6px;
	margin-bottom: 0;
	border: 1px solid #ddd;
	border-radius: 10px;
	overflow: hidden;
	padding: 1rem;
}
.typeChat:has(#typeHere:focus){
	border-color: #000;
}

.attachmentFiles > span:hover{
	color: #333;
	cursor: pointer;
}
.chatarea:focus{
	outline: none;
}


.chat-sags{
	background-color: #fff;
	padding: 1rem;
	border-radius: 10px;

}
.chatDay{
	background-color: #fff;
}
.main-chat .user-img{
	border: 3px solid #fff;
}
.main-chat .chat{
	border-radius: 10px ;
}

.messageBox{
	background-color: #F8F9FD;
}

.product-box{
	font-size: 12px;
    font-weight: 600;
    border-radius: 40px;
    padding: 5px 10px;
}

.btn{
	border-radius: 7px;
}
.bghastag{
	background-color: #5473F0;
    border: 1px solid #6b8fd6;
    display: inline-block;
}
.bg-primary{
	background-color: var(--primary) !important;
}
.text-primary{
	color: var(--primary) !important;
}

.profile_details .user-img{
	height: 80px;
	width: 80px;
	line-height: 80px;
}


.profile_details .user-img{
	position: relative;
}
.profile_details .user-img::before{
	content: '\e5c5';
	clear: both;
	font-family: 'Material Symbols Rounded';
	position: absolute;
	bottom: -10px;
	border: 2px solid #fff;
	font-size: 20px;
	right: -5px;
	display: block;
	height: 30px;
	line-height: 28px;
	width: 30px;
	border-radius: 50%;
	background-color: var(--primary);
	color: #fff;
	text-align: center;
}

.profile-comm{
	padding: 1rem;
	transition: all linear 0.2s;
	border-radius: 10px;
	cursor: pointer;
}

.profile-comm:hover{
	background-color: #f5f5f5;
}


.sagItem{
	border-radius: 10px;
	border: 1px solid #ddd;
	padding: 1rem;
}

.right-usersearch{
	position: relative;
}
.right-usersearch > span{
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -15px;
}

.right-usersearch > input{
	height: 40px;
    background: #eee;
    border-radius: 8px;
    border: 0;
}
.right-userprofile{
	height: 100vh;
	overflow: auto;
	padding-inline: 5px;
	transition: all linear 0.3s;
}

.userprofile-section:not(.show) .right-userprofile{
	width: 0px;
	padding: 0;
	overflow: hidden;
}
.sidebar, .userprofile-section.show .right-userprofile {
	flex: 1 0 300px;
	width: 300px;
}




/* uiaccordion */
.uiaccordion .card-header > .headeingpart{
	padding: 5px;
    font-size: 1rem;
	cursor: pointer;
}
.uiaccordion .card-header.collapsed .arrow{
	transform: rotate(270deg);
}

.uiaccordion .card-header, .uiaccordion .card{
	border: 0;
	background-color: transparent;
}


.uiaccordion .addInfo{
	color: var(--primary);
}

.uiaccordion .user-property > *{
	color: #999;
}


.tag-card .profile_info ul li{
	background-color: #eee;
	padding: 2px 10px;
	border-radius: 5px;
	font-size: 0.9rem;
}

.tag-card .profile_info ul li > span{
	font-size: 18px;
}


/* responsive */


@media screen and (min-width: 1440px) {
	.main-container{
		max-width: 1440px;
		margin: auto;
		padding-inline: 1rem;
		border-inline: 1px solid #eee;
	}
}


@media screen and (max-width: 1199px) {
	.right-userprofile {
		position: fixed;
		right: 0;	
		background: #fff;
		z-index: 5;
	}
	.userprofile-section.show::before{
		position: fixed;
		top: 0;
		left: 0;
		content: '';
		clear: both;
		display: block;
		height: 100%;
		width: 100%;
		overflow: hidden;
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.137);
	}
}

@media screen and (max-width: 767px) {
	.material-symbols-rounded{
		font-size: 20px;
	}
	.typeChat{
		padding: 10px;
	}
	.sidebar{
		flex: 1 0 100%;
	}
	.main{
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: #fff;
		z-index: 1;
		transition: all linear 0.2s;
	}
	.main.closed{
		left: 100%;
	}
}

